streamlit
pandas
numpy
seaborn
matplotlib
psycopg2-binary
configparser 
ctypes 
pickle 
re 
turtle 
h11 
matplotlib 
pyparsing
streamlit
numpy
pandas 
wordcloud 
datetime
io
PIL 
pptx 
audioop
msilib
operator
csv